/**
 * This file was auto-generated by Fern from our API Definition.
 */
package com.mercoa.api.resources.entitygroup;

import com.mercoa.api.core.ClientOptions;
import com.mercoa.api.core.RequestOptions;
import com.mercoa.api.core.Suppliers;
import com.mercoa.api.resources.entitygroup.counterparty.CounterpartyClient;
import com.mercoa.api.resources.entitygroup.invoice.InvoiceClient;
import com.mercoa.api.resources.entitygroup.requests.EntityGroupFindRequest;
import com.mercoa.api.resources.entitygroup.requests.EntityGroupGetRequest;
import com.mercoa.api.resources.entitygroup.user.UserClient;
import com.mercoa.api.resources.entitygrouptypes.types.EntityGroupAddEntitiesRequest;
import com.mercoa.api.resources.entitygrouptypes.types.EntityGroupCreateRequest;
import com.mercoa.api.resources.entitygrouptypes.types.EntityGroupFindResponse;
import com.mercoa.api.resources.entitygrouptypes.types.EntityGroupRemoveEntitiesRequest;
import com.mercoa.api.resources.entitygrouptypes.types.EntityGroupResponse;
import com.mercoa.api.resources.entitygrouptypes.types.EntityGroupUpdateRequest;
import com.mercoa.api.resources.entitytypes.types.TokenGenerationOptions;
import java.util.function.Supplier;

public class EntityGroupClient {
    protected final ClientOptions clientOptions;

    private final RawEntityGroupClient rawClient;

    protected final Supplier<CounterpartyClient> counterpartyClient;

    protected final Supplier<UserClient> userClient;

    protected final Supplier<InvoiceClient> invoiceClient;

    public EntityGroupClient(ClientOptions clientOptions) {
        this.clientOptions = clientOptions;
        this.rawClient = new RawEntityGroupClient(clientOptions);
        this.counterpartyClient = Suppliers.memoize(() -> new CounterpartyClient(clientOptions));
        this.userClient = Suppliers.memoize(() -> new UserClient(clientOptions));
        this.invoiceClient = Suppliers.memoize(() -> new InvoiceClient(clientOptions));
    }

    /**
     * Get responses with HTTP metadata like headers
     */
    public RawEntityGroupClient withRawResponse() {
        return this.rawClient;
    }

    /**
     * Get all entity groups. If using a JWT, will return all groups the entity is part of. If using an API key, will return all groups for the organization.
     */
    public EntityGroupFindResponse getAll() {
        return this.rawClient.getAll().body();
    }

    /**
     * Get all entity groups. If using a JWT, will return all groups the entity is part of. If using an API key, will return all groups for the organization.
     */
    public EntityGroupFindResponse getAll(EntityGroupFindRequest request) {
        return this.rawClient.getAll(request).body();
    }

    /**
     * Get all entity groups. If using a JWT, will return all groups the entity is part of. If using an API key, will return all groups for the organization.
     */
    public EntityGroupFindResponse getAll(EntityGroupFindRequest request, RequestOptions requestOptions) {
        return this.rawClient.getAll(request, requestOptions).body();
    }

    /**
     * Create an entity group
     */
    public EntityGroupResponse create() {
        return this.rawClient.create().body();
    }

    /**
     * Create an entity group
     */
    public EntityGroupResponse create(EntityGroupCreateRequest request) {
        return this.rawClient.create(request).body();
    }

    /**
     * Create an entity group
     */
    public EntityGroupResponse create(EntityGroupCreateRequest request, RequestOptions requestOptions) {
        return this.rawClient.create(request, requestOptions).body();
    }

    /**
     * Get an entity group
     */
    public EntityGroupResponse get(String entityGroupId) {
        return this.rawClient.get(entityGroupId).body();
    }

    /**
     * Get an entity group
     */
    public EntityGroupResponse get(String entityGroupId, EntityGroupGetRequest request) {
        return this.rawClient.get(entityGroupId, request).body();
    }

    /**
     * Get an entity group
     */
    public EntityGroupResponse get(String entityGroupId, EntityGroupGetRequest request, RequestOptions requestOptions) {
        return this.rawClient.get(entityGroupId, request, requestOptions).body();
    }

    /**
     * Update an entity group
     */
    public EntityGroupResponse update(String entityGroupId) {
        return this.rawClient.update(entityGroupId).body();
    }

    /**
     * Update an entity group
     */
    public EntityGroupResponse update(String entityGroupId, EntityGroupUpdateRequest request) {
        return this.rawClient.update(entityGroupId, request).body();
    }

    /**
     * Update an entity group
     */
    public EntityGroupResponse update(
            String entityGroupId, EntityGroupUpdateRequest request, RequestOptions requestOptions) {
        return this.rawClient.update(entityGroupId, request, requestOptions).body();
    }

    /**
     * Delete an entity group
     */
    public void delete(String entityGroupId) {
        this.rawClient.delete(entityGroupId).body();
    }

    /**
     * Delete an entity group
     */
    public void delete(String entityGroupId, RequestOptions requestOptions) {
        this.rawClient.delete(entityGroupId, requestOptions).body();
    }

    /**
     * Generate a JWT token for an entity group with the given options. This token can be used to authenticate to any entity in the entity group in the Mercoa API and iFrame.
     * <p>&lt;Warning&gt;We recommend using <a href="/api-reference/entity-group/user/get-token">this endpoint</a>. This will enable features such as approvals and comments.&lt;/Warning&gt;</p>
     */
    public String getToken(String entityGroupId) {
        return this.rawClient.getToken(entityGroupId).body();
    }

    /**
     * Generate a JWT token for an entity group with the given options. This token can be used to authenticate to any entity in the entity group in the Mercoa API and iFrame.
     * <p>&lt;Warning&gt;We recommend using <a href="/api-reference/entity-group/user/get-token">this endpoint</a>. This will enable features such as approvals and comments.&lt;/Warning&gt;</p>
     */
    public String getToken(String entityGroupId, TokenGenerationOptions request) {
        return this.rawClient.getToken(entityGroupId, request).body();
    }

    /**
     * Generate a JWT token for an entity group with the given options. This token can be used to authenticate to any entity in the entity group in the Mercoa API and iFrame.
     * <p>&lt;Warning&gt;We recommend using <a href="/api-reference/entity-group/user/get-token">this endpoint</a>. This will enable features such as approvals and comments.&lt;/Warning&gt;</p>
     */
    public String getToken(String entityGroupId, TokenGenerationOptions request, RequestOptions requestOptions) {
        return this.rawClient.getToken(entityGroupId, request, requestOptions).body();
    }

    /**
     * Add entities to an entity group
     */
    public EntityGroupResponse addEntities(String entityGroupId, EntityGroupAddEntitiesRequest request) {
        return this.rawClient.addEntities(entityGroupId, request).body();
    }

    /**
     * Add entities to an entity group
     */
    public EntityGroupResponse addEntities(
            String entityGroupId, EntityGroupAddEntitiesRequest request, RequestOptions requestOptions) {
        return this.rawClient
                .addEntities(entityGroupId, request, requestOptions)
                .body();
    }

    /**
     * Remove entities from an entity group
     */
    public EntityGroupResponse removeEntities(String entityGroupId, EntityGroupRemoveEntitiesRequest request) {
        return this.rawClient.removeEntities(entityGroupId, request).body();
    }

    /**
     * Remove entities from an entity group
     */
    public EntityGroupResponse removeEntities(
            String entityGroupId, EntityGroupRemoveEntitiesRequest request, RequestOptions requestOptions) {
        return this.rawClient
                .removeEntities(entityGroupId, request, requestOptions)
                .body();
    }

    public CounterpartyClient counterparty() {
        return this.counterpartyClient.get();
    }

    public UserClient user() {
        return this.userClient.get();
    }

    public InvoiceClient invoice() {
        return this.invoiceClient.get();
    }
}
